:root {
    --black: hsl(0, 0%, 0%);
    --white: hsl(53, 100%, 98%);
    --gold-web-golden: hsl(50, 100%, 54%);
    --vivid-sky-blue: hsl(196, 84%, 63%);
    --minion-yellow: hsl(50, 100%, 64%);
    --independence: hsl(225, 24%, 27%);
    --fiery-rose: hsl(353, 83%, 65%);
    --bluetiful: hsl(222, 88%, 55%);
    --glaucous: hsl(230, 52%, 63%);
    --manatee: hsl(254, 7%, 65%);
    --rufous: hsl(2, 85%, 35%);
    --ottanio: hsl(193, 74%, 25%);

    --main-text: hsl(0, 0%, 12%);
    --main-brown: hsl(28, 67%, 44%);
    --light-brown: hsl(32, 64%, 72%);
    --hashtag-color: hsl(0, 0%, 12%);
    --main-bg-color: hsl(53, 100%, 98%);
    --button-col: var(--main-brown);
    --h3-color: hsl(0, 0%, 12%);

  /**
   * typography
   */

   --ff-open-sans: 'Open Sans', sans-serif;
   --ff-barlow: 'Barlow', sans-serif;
   --ff-poppins: 'Poppins', sans-serif;
 
   --fs-1: 3.5rem;
   --fs-2: 3rem;
   --fs-3: 2.4rem;
   --fs-4: 2rem;
   --fs-5: 1.8rem;
   --fs-6: 1.3rem;
 
   --fw-600: 600;
   --fw-700: 700;
 
   /**
    * border radius
    */
 
   --radius-5: 5px;
   --radius-10: 10px;
   --radius-15: 15px;
   --radius-20: 20px;
 
   /**
    * spacing
    */
 
   --section-padding: 60px;
 
   /**
    * shadow
    */
 
   --shadow: 0 -5px 10px var(--manatee);
 
   /**
    * transition
    */
 
   --transition-1: 0.05s ease;
   --transition-2: 0.25s ease;
   --cubic-out: cubic-bezier(0.33, 0.85, 0.56, 1.02);

  }

html {
  font-family: var(--ff-open-sans);
  scroll-behavior: smooth;
}

/* BASIC */
body {
  padding-top: 200px;
}

button,
input,
textarea {
  background: none;
  border: none;
  font: inherit;
}

  
/* Optional custom classes if you want to override Bootstrap buttons/colors */
.btn-primary {
  background-color: var(--main-brown);
  border-color: var(--main-brown);
}
.btn {
  color: var(--white);
  font-family: var(--ff-barlow);
  /* font-size: var(--fs-5); */
  font-weight: var(--fw-600);
  max-width: max-content;
  padding: var(--padding, 10px 40px);
  border-radius: 50px;
  transition: var(--transition-2);
}

.btn-primary.blue { background-color: var(--button-col); }
.btn-primary.blue:is(:hover, :focus) { background-color: var(--main-brown); }
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: var(--ottanio) !important;
  border-color: var(--ottanio) !important;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section { padding-block: var(--section-padding); }

.section-subtitle {
  color: var(--main-brown);
  font-family: var(--ff-barlow);
  font-size: var(--fs-4);
  /* text-align: center; */
}

.h1{
  color: var(--main-text);
  font-family: var(--ff-poppins);
  font-weight: var(--fw-700);
  font-size: var(--fs-1);
  line-height: 1.3;
}

.h2,
.h3 {
  color: var(--h3-color);
  font-family: var(--ff-barlow);
  font-weight: var(--fw-600);
  line-height: 1.3;
}

.h2 { font-size: var(--fs-2); }

.h3 { font-size: var(--fs-3); }

.section-title,
.section-text { text-align: center; }
.hashtag {
  color: var(--hashtag-color);
}

/* NAVBAR */
.header {
  background-color: white;  /* Colore di sfondo bianco */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  /* Aggiungi una leggera ombra per separare l'header dal contenuto */
}


.logo {
  color: var(--black);
  font-family: var(--ff-poppins);
  font-size: 1.4rem;
}

.nav {
  display: flex; /* Make the nav items a flex container */
  align-items: center; /* Vertically center the items */
  list-style: none; /* Remove default list styling */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.nav-link {
  color: var(--main-text);
  font-family: var(--ff-poppins);
  padding-block: 3px;
  transition: var(--transition-1);
}

.navbar-toggler-icon {
  color: black;
}

.navbar-toggler {
  border: none; /* Remove the default border */
  background-color: transparent; /* Make the background transparent */
}


/* HERO */
.hero {
  /* height: 100vh; */
  display: flex;
  align-items: center; /* Centra il contenuto verticalmente */
  justify-content: center; /* Centra il contenuto orizzontalmente */
  /* background-color: var(--ottanio); */
}

.hero-content {
  /* text-align: center; Centra il testo */
  z-index: 5; /* Imposta un z-index inferiore rispetto alla navbar, così l'immagine non sarà coperta */
}

.hero-banner {
  display: flex;
  justify-content: center;  /* Centra orizzontalmente */
  align-items: center;      /* Centra verticalmente */
  height: 100%;             /* Imposta l'altezza del contenitore */
}

.hero-banner img {
  object-fit: contain; /* Mantiene le proporzioni senza tagliare l'immagine */
  max-width: 70%;      /* Limita la larghezza massima */
  max-height: 100%;     /* Limita l'altezza massima */
}

.hero-title strong {
  font-size: var(--fs-1);
  font-weight: inherit;
  margin-block-end: 8px;
}

.hero-job {
  line-height: 1; /* Adjust this value as needed */
  margin-bottom: 0.5rem; /* Optional: adds space after the paragraph */
  font-family: var(--ff-barlow);
}

/* PORTFOLIO */

.about-image {
  object-fit: contain; 
  max-width: 90%;      
  max-height: 100%;    
}

#about p {
  line-height: 1.2;
}

.nl {
  line-height: 1 !important; /* Adjust this value as needed */
  margin-bottom: 0.5rem; /* Optional: adds space after the paragraph */
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 16px;
  color: var(--main-brown);
  opacity: 0.4; /* Makes it semitransparent */
}


/* FOOTER */
.footer {
  background-color: var(--ottanio);
  padding-block: 60px;
}


/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/
/**
 * responsive for smalelr than 600px screen
 */
 @media (max-width: 600px) {
  body {
    padding-top: 80px;
  }
}


/**
 * responsive for larger than 600px screen
 */
 @media (min-width: 600px) {
  body {
    padding-top: 100px;
  }
}

/**
 * responsive for larger than 768px screen
 */
@media (min-width: 768px) {
  body {
    padding-top: 100px;
  }
}

/**
 * responsive for larger than 992px screen
 */
@media (min-width: 992px) {
  body {
    padding-top: 200px;
  }
}